In [20]:
import numpy as np 
import pandas as pd 
import nltk
from nltk.corpus import stopwords
import string
import os
import re
import matplotlib.pyplot as plt

In [8]:
#Place the path of your dataset within the double quotes
os.chdir("")

In [78]:
#read the CSV file
df = pd.read_csv('emails.txt')

In [ ]:
df.head(5)

In [33]:
df.shape

(5728, 2)

In [109]:
df.spam.value_counts()

0    4327
1    1368
Name: spam, dtype: int64

In [5]:
df.columns

Index(['text', 'spam'], dtype='object')

In [79]:
df.drop_duplicates(inplace = True)

In [90]:
df.shape

(5695, 2)

In [7]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [10]:
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import SnowballStemmer

In [80]:
#Cleaning tasks
def clean_txt(sent):
    #Stripping white spaces before and after the text
    
    #Replacing multiple spaces with a single space
    
    #Replacing Non-Alpha-numeric and non space charecters with nothing
    
    #Convert to lower-case and tokenize
    
    #Remove stop words and custom stop words:"would", "could","told","subject" 
    # and words with length <=2
    
    # Combine the cleaned tokens
    res = " ".join(text)
    return res

In [81]:
# the text column 3cleaning 
df['text'] = df.text.apply(clean_txt)

In [16]:
df.head()

                                                text  spam
0  subject natur irresist corpor ident realli har...     1
1  subject stock trade gunsling fanni merril muzo...     1
2  subject unbeliev new home made easi want show ...     1
3  subject color print special request addit info...     1
4  subject money get softwar cds softwar compat g...     1

In [100]:
#Seperate text column and the labels into X and y
X_text = df.text.values
y = df.spam.values

In [102]:
#Vectorize the text column with max_features as 3500 and store it in X

In [101]:
#Split the data into X_train, X_test, y_train, y_test

In [1]:
#Train the model

In [105]:
# use the model to make predictions on the test set, y_pred

In [106]:
#get the confusion matrix and the accuracy score